h1 {
  margin-top: 20px;
  text-align: center;
  font: 1em sans-serif;
  color: rgb(30, 29, 31);
  text-decoration: underline;
  text-transform: uppercase;
  font-size: larger;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  font: monospace;
  color: rgb(30, 29, 31);
  margin-bottom: 30px;
  font-size: larger;
}
footer {
  margin-top: 120px;
  text-align: center;
  padding: 6px;
}

html,
body {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px #e5c7c7;
  border-radius: 10px;
  background-color: #dd7777;
  border: #770707 solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
  align-items: center;
  background-origin: padding-box;
}
.quote-container {
  margin-top: 60px;
  padding: 20px;
  display: flex;
  font-size: 1.5em;
  font-style: italic;
  color: #ca1212;
  text-align: center;
  margin-bottom: 20px;
}

#search-input {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 50px;
  background-color: #f3f0f0;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  background-color: #138417;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8x;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  margin-bottom: 22px;
}
input[type="submit"]:hover {
  background-color: #762a74;
}
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
